@model AbstractContentPage

<div class="col-md-4 ftco-animate">


    <h4 class="mb-3">  <a href="@Url.ContentUrl(Model.ContentLink)">@Model.Name</a></h4>
                <p>@Html.PropertyFor(x=>x.MetaDescription)</p>
                <p>
                    <img src="/static/images/image_1.jpg" alt="" class="img-fluid">
                </p>

            </div>
