@model LinkGridBlock;

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <h3>LINK GRID</h3>
            <div class="col-md-12 d-flex ftco-animate">                
            @Html.PropertyFor(x=>x.Links, new { Tag="LinkGrid"})
        </div>
    </div>
    </div>
 </section>
