@model SectionMediaBlock

<section class="ftco-section ftco-degree-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 ftco-animate">
				<div class="row">
					<div class="col-md-12 d-flex ftco-animate">
						<div class="blog-entry align-self-stretch d-md-flex">
							
							<div class="text d-block pl-md-4">												
								@Html.PropertyFor(x=> x.Headline)
								<a href="blog-single.html" class="block-20" style="background-image: url('@Url.ContentUrl(Model.Image)');width: 122px !important;"></a>
							</div>
							<div class="text d-block pl-md-8">
								<div class="meta mb-8">
								@Html.PropertyFor(x=> x.Body)
								</div>

							</div>
						</div>
					</div>
				</div>
			</div> <!-- .col-md-8 -->
		</div>
	</div>
</section>